<% @cats.each do |cat| %>
	<h1>Cat: </h1>
	<%= cat.name %>
<% end %> 

<br/>

<% @users.each do |user| %>
	<h1>User: </h1>
	<%= user.username %>
	<%= user.age %>
	<%= user.email %>
<% end %> 
<br/>	


